@import "@/src/styles/variables";

.root {
  aspect-ratio: 1/1;
  width: 150px;
  border-radius: 50%;
  object-fit: cover;
  border: 8px solid var(--color-accent);
  font-size: 20px;

  @media (min-width: $tablet) {
    width: 250px;
  }

  @media (min-width: $laptop) {
    width: 300px;
  }
}
